[submodule "submodule/Urho3D"]
	path = submodule/Urho3D
	url = https://github.com/urho3d/Urho3D
[submodule "submodule/json"]
	path = submodule/json
	url = https://github.com/nlohmann/json
[submodule "submodule/json.lua"]
	path = submodule/json.lua
	url = https://github.com/rxi/json.lua
