doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // --
    meta(name='description', content='Guía Interactiva para el Concierto de Despedida de °C-ute en México')
    meta(name='author', content='Mizahnyx')
    link(rel='icon', href='../../favicon.ico')
    title Guía Interactiva para el Concierto de Despedida de °C-ute en México
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
  body
    header
      .container
        .twelve.columns
          h1.separator Guía Interactiva para el Concierto de Despedida de °C-ute en México

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/index.js')
