extend includes/layout.pug

block content
  #loader
    #loader-icon
      h1 Cargando...
  .container
    h1
      = título
    p.lead
      | Selecciona una canción de °C-ute, y al reproducirla, en el otro recuadro podrás ver su wotagei (ヲタ芸) sugerido.
      br
    p
      em Versión #{version}, Revisión #{revision}, generada en: #{timestamp}
  .container
    .row
      .col-sm-12
        form.form-inline
          label(for='cancion') Canción:
          select#cancion.form-control
    .row
      .col-sm-6
        .video-wrapper
          #youTubePlayer
      .col-sm-6
        .video-wrapper
          canvas#canvas
    .row
      .col-sm-12
        h3 Aviso
        p 
          | Por razones de tiempo, personal y herramientas de software
          | es imposible terminar con éste sitio en el tiempo requerido. 
          | Queda ésta página como prueba de concepto. 
          | Mi agradecimiento más sincero a todas las personas que colaboraron,
          | y una disculpa por no haber completado la meta en tiempo y forma.
  +modal('modal-referencias', 'Referencias y Fuentes')
    include:markdown-it includes/referencias.md
  +modal('modal-créditos', 'Créditos')
    include:markdown-it includes/creditos.md
  +modal('modal-historial', 'Historial de Cambios')
    include:markdown-it includes/historial.md
  +modal('modal-notas', 'Notas')
    include:markdown-it includes/notas.md
  +modal('modal-ganbacchae', 'Ganbacchae (Coro)')
    include:markdown-it includes/ganbacchae.md
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.3/js-yaml.min.js')
  script(src='js/index.js')
