extend includes/layout.pug

block content
  #loader
    #loader-icon
      h1 Cargando...
  .container
    h1
      = título
    p.lead
      | Use this document as a way to quickly start any new project.
      br
      |  All you get is this text and a mostly barebones HTML document.
  .container
    .row
      .col-sm-12
        form.form-inline
          label(for='cancion') Canción:
          select#cancion.form-control(onchange='alCambiarCanción()')
            each i in canciones
              - var descripción = i.nombreRomaji + ' (' + i.nombreJaponés + ')'
              option(value=i.id)
                = descripción
    .row
      .col-sm-6
        .video-wrapper
          #youTubePlayer
      .col-sm-6
        .video-wrapper
          canvas#canvas
  +modal('modal-referencias', 'Referencias y Fuentes')
    include:markdown-it includes/referencias.md
  +modal('modal-créditos', 'Créditos')
    include:markdown-it includes/creditos.md
block scripts
  script(src='js/index.js')
