extend includes/layout.pug

block content
  #loader
    #loader-icon
      h1 Cargando...
  .container
    h1
      = título
    p.lead
      | Selecciona una canción de °C-ute, y al reproducirla, en el otro recuadro podrás ver su wotagei (ヲタ芸) sugerido.
      br
    p
      em Versión #{version} generada en: #{timestamp}
  .container
    .row
      .col-sm-12
        form.form-inline
          label(for='cancion') Canción:
          select#cancion.form-control(onchange='alCambiarCanción()')
            each i in canciones
              - var descripción = i.nombreRomaji + ' (' + i.nombreJaponés + ')'
              option(value=i.id)
                = descripción
    .row
      .col-sm-6
        .video-wrapper
          #youTubePlayer
      .col-sm-6
        .video-wrapper
          canvas#canvas
  +modal('modal-referencias', 'Referencias y Fuentes')
    include:markdown-it includes/referencias.md
  +modal('modal-créditos', 'Créditos')
    include:markdown-it includes/creditos.md
  +modal('modal-historial', 'Historial de Cambios')
    include:markdown-it includes/historial.md
  +modal('modal-notas', 'Notas')
    include:markdown-it includes/notas.md
block scripts
  script(src='js/index.js')
