extend includes/layout.pug

block content
  #loader
    #loader-icon
      h1 Cargando...
  .container
    h1
      = título
    p.lead
      | Selecciona una canción de °C-ute, y al reproducirla, en el otro recuadro podrás ver su wotagei (ヲタ芸) sugerido.
      br
    p
      em Versión #{version}, Revisión #{revision}, generada en: #{timestamp}
  .container
    .row
      .col-sm-12
        form.form-inline
          label(for='cancion') Canción:
          select#cancion.form-control
    .row
      .col-sm-6
        .video-wrapper
          #youTubePlayer
      .col-sm-6
        .video-wrapper
          canvas#canvas
    .row
      .col-sm-12
        h3 Experimental
        p 
          | Puedes editar el wotagei de una canción en formato YAML en el
          | cuadro de texto de abajo. Cuando el motor de juegos arranque, 
          | no podrás escribir directamente en el cuadro de texto, pero 
          | puedes copiar y pegar desde un editor de textos, como el Bloc
          | de notas de Windows, o EMACS en Linux. 
        form
          .form-group
            label(for='test-yaml') YAML
            textarea#test-yaml.form-control
              | -
              |   - 1.0
              |   - Furi
              |   -
              |     Furi: Kecha
              |     Duration: 2.0
              |     Times: 3
              | -
              |   - 2.0
              |   - Text
              |   -
              |     Text: Aaa! Yossha Ikuzo!
              |     Duration: 1.5
              |     Who: Airi
              | -
              |   - 3.0
              |   - Audio
              |   -
              |     Audio: Hai
          button.btn#test-script(type='button') Enviar script YAML
          button.btn#test-play(type='button') Reproducir
          button.btn#test-pause(type='button') Pausar
  +modal('modal-referencias', 'Referencias y Fuentes')
    include:markdown-it includes/referencias.md
  +modal('modal-créditos', 'Créditos')
    include:markdown-it includes/creditos.md
  +modal('modal-historial', 'Historial de Cambios')
    include:markdown-it includes/historial.md
  +modal('modal-notas', 'Notas')
    include:markdown-it includes/notas.md
  +modal('modal-ganbacchae', 'Ganbacchae (Coro)')
    include:markdown-it includes/ganbacchae.md
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.3/js-yaml.min.js')
  script(src='js/index.js')
